@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Primary */
  --color-primary-dark: hsl(0, 100%, 74%);
  --color-primary-light: hsl(154, 59%, 51%);
  
  /* Accent */
  --color-accent: hsl(248, 32%, 49%);
  
  /* Neutral */
  --color-neutral-dark: hsl(249, 10%, 26%);
  --color-neutral-light: hsl(246, 25%, 77%);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-primary-dark);
  background-image: url("../images/bg-intro-mobile.png");
  background-position: center;
  background-repeat: repeat-y;
  min-height: 100vh;
}

main {
  margin-bottom: 100px;
}

@media (min-width: 376px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }
}