.hero {
  padding: 5.6875rem 0 3.875rem 0;
}

.hero__header {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.003125rem;
  margin-bottom: 1.375rem;
}

.hero__description {
  line-height: 1.625;
  letter-spacing: 0.005rem;
  opacity: 0.8;
}

@media (min-width: 950px) {
  .hero {
    max-width: 35.625rem;
    padding-top: 4.3125rem;
    margin: 0 auto;
    text-align: left;
  }

  .hero__header {
    font-size: 3.125rem;
    line-height: 1.1;
    letter-spacing: -0.034375rem;
  }

  .hero__header {
    margin-bottom: 1.78125rem;
  }

  .hero__description {
    letter-spacing: 0.003125rem;
  }
}