.hero {
  padding: 91px 0 62px 0;
}

.hero__header {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.05px;
  margin-bottom: 22px;
}

.hero__description {
  line-height: 1.625;
  letter-spacing: 0.08px;
  opacity: 0.8;
}

@media (min-width: 950px) {
  .hero {
    padding-top: 69px;
    text-align: left;
  }

  .hero__header {
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: -0.55px;
  }

  .hero__header {
    margin-bottom: 28.5px;
  }

  .hero__description {
    letter-spacing: 0.05px;
  }
}