.registration {
  max-width: 33.75rem;
  margin: 0 auto;
}

.registration__promo {
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  height: 5.5rem;
  border-radius: 0.5625rem;
  box-shadow: var(--shadow-main);
  margin-bottom: 1.5rem;
}

.registration__promo-text {
  max-width: 60%;
  line-height: 1.8;
  letter-spacing: 0.0175rem;
  opacity: 0.95;
  margin-top: 0.125rem;
}

.registration__form {
  background-color: white;
  padding: 1.5rem 1.5rem 1.4375rem 1.5rem;
  box-shadow: var(--shadow-main);
  border-radius: 0.5rem;
}

.registration__input-wrapper {
  position: relative;
}

.registration__input-wrapper--invalid::before {
  position: absolute;
  top: 50%;
  right: 0.9798387096774194rem;
  transform: translateY(-50%);
  margin-top: 0.1875rem;
  content: url(../images/icon-error.svg);
}

.registration__input {
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.001875rem;
  color: var(--color-neutral-dark);
  display: block;
  width: 100%;
  background-color: transparent;
  height: 3.5rem;
  padding: 0.8125rem 2.875rem 0.8125rem 1.125rem;
  border: 0.0625rem solid hsl(0, 0%, 87%);
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  outline: none;
  transition: border 0.15s ease-in-out;
}

.registration__input:focus:not(.registration__input--invalid) {
  border: 0.0625rem solid var(--color-accent);
}

.registration__input::placeholder {
  color: var(--color-neutral-dark);
  opacity: 0.8;
}

.registration__input--invalid {
  color: var(--color-primary-dark);
  padding-left: 1.0625rem;
  border: 0.125rem solid var(--color-primary-dark);
}

.registration__input--invalid::placeholder {
  opacity: 0;
}

.registration__submit-button {
  font-family: inherit;
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--color-primary-light);
  color: white;
  height: 3.5rem;
  width: 100%;
  padding-top: 0.3125rem;
  margin-bottom: 0.5625rem;
  border-top: 0.0625rem solid;
  border-right: 0.0625rem solid;
  border-bottom: 0.25rem solid;
  border-left: 0.0625rem solid;
  border-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 0.375rem;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}

.registration__submit-button:hover {
  opacity: 0.75;
}

.registration__terms {
  font-size: 0.6875rem;
  color: var(--color-neutral-light);
  line-height: 1.9;
  letter-spacing: 0.001453488372093rem;
  max-width: 90%;
  margin: 0 auto;
}

.registration__error-message {
  position: absolute;
  right: 0;
  bottom: -18px;
  color: var(--color-primary-dark);
  font-size: 11px;
  font-style: italic;
  text-align: right;
  text-wrap: nowrap;
}

.registration__error-message[aria-hidden='true'] {
  display: none;
}

@media (min-width: 450px) {
  .registration__promo {
    height: 3.75rem;
  }

  .registration__promo-text {
    max-width: 95%;
  }
}

@media (min-width: 950px) {
  .registration {
    margin-left: 2rem;
  }
}

@media (min-width: 1100px) {
  .registration__form {
    padding: 2.5rem 2.5rem 2.63125rem 2.5rem;
  }

  .registration__input {
    padding: 0.8125rem 3.75rem 0.8125rem 1.9375rem;
    margin-bottom: 1.25rem;
  }

  .registration__input--invalid {
    padding-left: 1.875rem;
    margin-bottom: 5.25vh;
  }

  .registration__input-wrapper--invalid::before {
    right: 1.6875rem;
  }

  .registration__submit-button {
    margin-bottom: 0.6875rem;
  }
}
